 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P 500 Index.

In [263]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp500_history.csv`: Contains historical closing prices of the S&P 500 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data

In [259]:
# Reading whale returns
whale_csvpath = Path("../Starter_Code/Resources/whale_returns.csv")
whale_df = pd.read_csv(csvpath)
whale_df.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,2015-03-02,NaN,NaN,NaN,NaN
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [245]:
# Count nulls
whale_df.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [242]:
# Drop nulls
whale_df.dropna(inplace=True)
whale_df

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652
...,...,...,...,...
2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
2019-04-26,0.008149,0.009162,0.012355,0.010434
2019-04-29,0.001254,0.002719,0.006251,0.005223
2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

In [250]:
#Set date to index 
#whale_df.set_index(pd.to_datetime(whale_df['Date'], infer_datetime_format=True), inplace=True)
#whale_df.drop(columns=['Date'], inplace=True)
#whale_df.head()

In [265]:
# Set the `date` as a datetime index
whale_df = pd.read_csv(csvpath, index_col="Date", parse_dates=True, infer_datetime_format=True)
whale_df.head()
whale_df.index = pd.to_datetime(whale_df.index)

## Algo Daily Returns

Read the algorithmic daily returns and clean the data

In [260]:
# Reading algorithmic returns
algo_csvpath = Path("../Starter_Code/Resources/algo_returns.csv")
algo_df = pd.read_csv(algo_csvpath)
algo_df.head()

         Date    Algo 1  Algo 2
0  2014-05-28  0.001745     NaN
1  2014-05-29  0.003978     NaN
2  2014-05-30  0.004464     NaN
3  2014-06-02  0.005692     NaN
4  2014-06-03  0.005292     NaN

In [217]:
# Set date to index
algo_df.set_index(pd.to_datetime(algo_df['Date'], infer_datetime_format=True), inplace=True)
#Drop the Extra Date Column 
algo_df.drop(columns=['Date'], inplace=True)
algo_df.head()
# Count nulls
algo_df.isnull().sum()

Algo 1    0
Algo 2    6
dtype: int64

In [92]:
# Drop nulls
algo_df.dropna(inplace=True)
algo_df

              Algo 1    Algo 2
Date
2014-06-05  0.004062  0.013285
2014-06-06  0.001857  0.008284
2014-06-09 -0.005012  0.005668
2014-06-10  0.004406 -0.000735
2014-06-11  0.004760 -0.003761
...              ...       ...
2019-04-25  0.000682 -0.007247
2019-04-26  0.002981  0.005256
2019-04-29  0.005208  0.002829
2019-04-30 -0.002944 -0.001570
2019-05-01  0.000094 -0.007358

[1235 rows x 2 columns]

In [266]:
# Set the `date` as a datetime index
algo_df = pd.read_csv(algo_csvpath, index_col="Date", parse_dates=True, infer_datetime_format=True)
algo_df.dropna(inplace=True)


algo_df.index = pd.to_datetime(algo_df.index)

In [278]:
algo_df.head()

              Algo 1    Algo 2
Date
2014-06-05  0.004062  0.013285
2014-06-06  0.001857  0.008284
2014-06-09 -0.005012  0.005668
2014-06-10  0.004406 -0.000735
2014-06-11  0.004760 -0.003761

## S&P 500 Returns

Read the S&P 500 historic closing prices and create a new daily returns DataFrame from the data.

In [281]:
# Reading S&P 500 Closing Prices
sp500_csvpath = Path("../Starter_Code/Resources/sp500_history.csv")
sp500_df = pd.read_csv(sp500_csvpath)
sp500_df.head()

        Date     Close
0  23-Apr-19  $2933.68
1  22-Apr-19  $2907.97
2  18-Apr-19  $2905.03
3  17-Apr-19  $2900.45
4  16-Apr-19  $2907.06

In [282]:
# Set date to index
sp500_df.set_index(pd.to_datetime(sp500_df['Date'], infer_datetime_format=True), inplace=True)
#Drop the Extra Date Column 
sp500_df.drop(columns=['Date'], inplace=True)
sp500_df.head()

               Close
Date
2019-04-23  $2933.68
2019-04-22  $2907.97
2019-04-18  $2905.03
2019-04-17  $2900.45
2019-04-16  $2907.06

In [177]:
# Check Data Types
#sp500_df.dtypes
#sp500_df.head()

Close    object
dtype: object

In [283]:
sp500_df['Close'] = sp500_df['Close'].str.replace('$', '')
sp500_df['Close'] = sp500_df['Close'].astype('float64')

# Set date to index
#sp500_df = pd.read_csv(sp500_csvpath, index_col="Date", parse_dates=True, infer_datetime_format=True)
#sp500_df.dropna(inplace=True)

<ipython-input-283-080787529920>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  sp500_df['Close'] = sp500_df['Close'].str.replace('$', '')

In [226]:
# Calculate Daily Returns
daily_returns = sp500_df.pct_change()
daily_returns.head()

               Close
Date
2019-04-23       NaN
2019-04-22 -0.008764
2019-04-18 -0.001011
2019-04-17 -0.001577
2019-04-16  0.002279

In [284]:
# Drop nulls
sp500_df.dropna(inplace=True)
sp500_df.head()

              Close
Date
2019-04-23  2933.68
2019-04-22  2907.97
2019-04-18  2905.03
2019-04-17  2900.45
2019-04-16  2907.06

In [285]:
sp500_df.columns

Index(['Close'], dtype='object')

In [286]:
# Rename `Close` Column to be specific to this portfolio.
sp500_df.columns = ['SP500_Returns']
sp500_df.head()


sp500_df.index = pd.to_datetime(sp500_df.index)

In [287]:
sp500_df.head()

            SP500_Returns
Date
2019-04-23        2933.68
2019-04-22        2907.97
2019-04-18        2905.03
2019-04-17        2900.45
2019-04-16        2907.06

## Combine Whale, Algorithmic, and S&P 500 Returns

In [288]:
# Join Whale Returns, Algorithmic Returns, and the S&P 500 Returns into a single DataFrame with columns for each portfolio's returns.
combined_df = pd.concat([whale_df, algo_df, sp500_df],axis=1)
combined_df.tail(30)

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,SP500_Returns
Date,,,,,,,
2019-03-20,-0.004683,-0.004472,-0.007399,-0.000404,-0.009167,0.001009,2824.23
2019-03-21,0.015109,0.004746,0.018898,0.013333,0.000035,0.004714,2854.88
2019-03-22,-0.017664,-0.013698,-0.016745,-0.028230,0.002514,-0.020949,2800.71
2019-03-25,-0.003330,-0.000420,0.000972,0.010737,0.000973,-0.002058,2798.36
2019-03-26,0.004387,0.005641,0.009190,0.005378,0.005455,0.005614,2818.46
2019-03-27,-0.003994,-0.007321,-0.004278,-0.006041,0.008395,-0.004457,2805.37
2019-03-28,0.003216,-0.006963,0.005932,0.005964,0.009932,0.005775,2815.44
2019-03-29,0.001392,0.003030,-0.001277,0.012783,-0.000868,0.004576,2834.40
2019-04-01,0.009000,0.010073,0.003972,0.013182,0.008159,0.007257,2867.19
2019-04-02,0.000193,-0.005619,-0.006623,0.001152,0.003776,-0.000413,2867.24
2019-04-03,0.003562,0.001305,0.005193,0.003252,-0.003337,0.000287,2873.40
2019-04-04,0.001255,0.010630,0.008459,-0.008037,-0.003597,0.003265,2879.39
2019-04-05,0.006880,0.006484,0.009357,0.006128,0.001519,0.009306,2892.74
2019-04-08,0.000483,-0.000310,0.000153,0.000841,0.003761,0.000218,2895.77
2019-04-09,-0.005657,-0.004396,-0.006536,-0.002497,0.012012,-0.011639,2878.20
2019-04-10,0.009808,0.008366,0.002912,0.005269,-0.004221,0.009632,2888.21
2019-04-11,0.003406,-0.003959,-0.000637,-0.000496,0.001705,-0.001568,2888.32
2019-04-12,0.005663,-0.001165,0.004217,0.007316,-0.005501,0.004504,2907.41
2019-04-15,-0.001422,-0.001156,0.000398,-0.010492,-0.004331,-0.004572,2905.58
2019-04-16,0.002699,0.000388,-0.000831,0.000837,-0.006945,0.002899,2907.06
2019-04-17,-0.002897,-0.006467,-0.004409,0.003222,-0.010301,-0.005228,2900.45
2019-04-18,0.001448,0.001222,0.000582,0.001916,-0.000588,-0.001229,2905.03
2019-04-22,-0.002586,-0.007333,-0.003640,-0.001088,0.000677,-0.001936,2907.97
2019-04-23,0.007167,0.003485,0.006472,0.013278,0.004969,0.009622,2933.68
2019-04-24,0.002284,0.001009,-0.004000,-0.006386,0.001095,0.000399,NaN
2019-04-25,-0.000285,-0.001291,-0.005153,0.004848,0.000682,-0.007247,NaN
2019-04-26,0.008149,0.009162,0.012355,0.010434,0.002981,0.005256,NaN
2019-04-29,0.001254,0.002719,0.006251,0.005223,0.005208,0.002829,NaN
2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702,-0.002944,-0.001570,NaN
2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833,0.000094,-0.007358,NaN

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [ ]:
# Plot daily returns of all portfolios

#### Calculate and Plot cumulative returns.

In [ ]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios
4. Determine which portfolios are riskier than the S&P 500
5. Calculate the Annualized Standard Deviation

### Create a box plot for each portfolio

In [ ]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [ ]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P 500

In [ ]:
# Calculate  the daily standard deviation of S&P 500

# Determine which portfolios are riskier than the S&P 500

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for all portfolios using a 21-day window
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P 500
3. Choose one portfolio, then calculate and plot the 60-day rolling beta between it and the S&P 500

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [ ]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 500

In [ ]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P 500

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half-life.

In [ ]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Annualized Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P 500) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P 500. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others
5. Include correlation analysis to determine which stocks (if any) are correlated

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

For this demo solution, we fetch data from three companies listes in the S&P 500 index.

* `GOOG` - [Google, LLC](https://en.wikipedia.org/wiki/Google)

* `AAPL` - [Apple Inc.](https://en.wikipedia.org/wiki/Apple_Inc.)

* `COST` - [Costco Wholesale Corporation](https://en.wikipedia.org/wiki/Costco)

In [ ]:
# Reading data from 1st stock

In [ ]:
# Reading data from 2nd stock

In [ ]:
# Reading data from 3rd stock

In [ ]:
# Combine all stocks in a single DataFrame

In [ ]:
# Reset Date index

In [ ]:
# Reorganize portfolio data by having a column per symbol

In [ ]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [ ]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [ ]:
# Join your returns DataFrame to the original returns DataFrame

In [ ]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [ ]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate and plot the correlation

### Calculate and Plot Rolling 60-day Beta for Your Portfolio compared to the S&P 500

In [ ]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Calculate Annualzied Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!